spring:
  datasource:
    url: jdbc:postgresql://34.118.114.227:5432/postgres
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
  jackson:
    default-property-inclusion: non_null
  config:
    import: optional:secrets.properties

server:
  port: 8080